---
import { Image } from 'astro:assets';

interface Props {
  src: ImageMetadata;
  alt: string;
  maxHeight?: string;
  description?: string;
}

const { src, alt, maxHeight, description } = Astro.props;
---

<div class="project-image" style={maxHeight ? `--max-height: ${maxHeight}` : undefined}>
  <Image src={src} alt={alt} />
  {description && <p class="project-image__description">{description}</p>}
</div>

<style lang="scss">
  @use '../styles/global.scss' as *;

  .project-image {
    width: 100%;
  }

  .project-image img {
    width: 100%;
    height: auto;
    max-height: var(--max-height, none);
    object-fit: cover;
    border-radius: $standard-radius;
    margin-bottom: 0px;
  }

  .project-image__description {
    margin: 0;
    font-family: $font-standard-body;
    font-size: var(--font-size-body);
    color: $color-text-muted-more;
  }
</style>
